body {
    font: 18px tahoma, sans-serif;
    text-shadow: 2px 2px 3px #BBBBBB;
    background-image: url("https://i.imgur.com/QAoCGDE.jpg");
    background-repeat: repeat; 
}
#searches {
    width: 70%
}
.searchItem{
    float: left;
    padding: 10px;
}
form{
    width: 30%;
    float: right;
    padding: 20px;
}
label{
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
}
input[type="text"]{
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
    font-size: 18px;
}
button,
input[type="submit"]{
    background:#4D319F;
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 18px;
    margin: 0 10px 0 10px;
    cursor: pointer;
    box-shadow: 2px 2px 3px #BBBBBB;
}
button:hover,
input[type="submit"]:hover {
    background: #8659B3;
}
button.active {
    background: #8659B3;
}
